@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #7C7D83;
    font-family: "Lato", sans-serif;
  }

h1, h2, h3, h4, h5 {color: #262628; }
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {color: #fff; }
  .dark body .icon path,
  .dark body .icon g,
  .dark body .icon { 
    fill: white;
  }

.dark .social_icons svg .path,
.dark .social_icons svg .social-svg-icon {
  fill: black;
}

  input, 
  select, 
  textarea {
    @apply border py-2 px-4;
  }

  .dark input, 
  .dark select, 
  .dark textarea, 
  .dark body {
    color: #fff;
    background-color: #212429;
    stroke: #fff;
    fill: #fff;
  }

  .dark aside a {
    color: #fff;
  }

* {
  @apply border-gray-200 dark:border-gray-600; 
}

  .markdown h1, 
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5 {
    scroll-margin-top: 100px;
  }

  h1 {
    @apply text-4xl lg:text-7xl my-8 lg:mt-12 leading-[150%] lg:leading-[132%]; 
  }

  .markdown h2 {
    @apply text-2xl md:text-3xl font-semibold mb-6;
  }

  .markdown h3 {
    @apply text-xl md:text-2xl font-semibold mt-8 mb-6;
  }

  .markdown p {
    @apply text-base mb-5;
  }

  h3 {
    @apply text-xl lg:text-2xl font-medium leading-[150%] ; 
  }

  .post_sidebar ul {
    @apply grid gap-5 ;
  }

  a {text-decoration: none;}
}

@layer components {
  main {
    min-height: 60vh;
  }

  .container {
    @apply max-w-[1512px] w-full mx-auto px-4 md:px-[30px];
  }
}

.conversion input[type="text"] {
  @apply border py-2 px-4 mb-2;}
